.App {
  text-align: center;
}

.dropZone {
  border: 1px dotted #000;
  width: 300px;
  cursor: pointer;
}

.timelineContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timelineBox {
  width: 3px;
  height: 100px;
  background: #555;
}

.timelineLabels {
  display: flex;
  justify-content: space-between;
}

/* @media only screen and (max-width: 800px) {
  .timelineBox {
    width: 30px;
  }
}

@media only screen and (max-width: 420px) {
  .timelineBox {
    width: 15px;
    height: 70px;
  }
} */
